*
{
    box-sizing: border-box;
    font-family: 'fira code', monospace;
    /* margin: 0; */
    padding: 0;
}

body
{
    background-color: blueviolet;
    font-size: 14px;
}

li
{
list-style: none;
background-color:#F5F5F5;
border-radius: 5px;
width: 80%;
margin-bottom: 1rem;
padding: 0.6rem;
display: flex;
gap: 4px;
align-items: center;
}


label
{
    text-transform: capitalize;
    font-size: 14px;
    color: black;
}


#quiz
{
    max-width: 500px;
    background-color: white;
    margin: auto;
    padding: 2rem;
}

#submit-btn
{
    border: none;
    outline: none;
    padding: 0.6rem 0.6rem;
    background-color: blueviolet;
    color: white;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-radius: 4px;
}

#reload
{
    border: none;
    outline: none;
    padding: 0.6rem 0.6rem;
    background-color: blueviolet;
    color: white;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-radius: 4px;  
}